body {
    background: #000 !important;
    color: #fff !important;
    margin-left: 200px !important;
    margin-right: 200px !important;
    font-size: 50px !important;
}

.mirror{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

@media only all and (min-width: 780px) and (max-width: 1400px) {
    body{
      margin-left: 25px !important;
      margin-right: 25px !important;
    }
}
@media only all and (max-width: 779px) {
    body{
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
}

.noiframe {
    display: none !important;
}

#sidebar {
    display: none !important;
}

#top-bar {
    display: none !important;
}

#body {
    margin-left: 0px !important;
}

#body .padding {
    padding: 1rem 1rem 1rem !important;
}

blockquote p {
    font-size: inherit !important;
}

div.notices p:not(:first-child)  {
    font-size: inherit !important;
}

pre code {
    font-size: inherit !important;
}

.default-animation, #header #logo-svg, #header #logo-svg path, #sidebar, #sidebar ul, #body, #body .padding, #body .nav {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}