{{/* Custom Template for Reveal.js Slides */}}

<html>
	<head>
		<link rel="stylesheet" href="{{"reveal/css/reveal.css" | relURL}}">
		<link rel="stylesheet" href="{{"reveal/css/theme/black.css" | relURL}}">
		<link rel="stylesheet" href="{{"css/atom-one-dark-reasonable.css" | relURL}}">
		<link rel="shortcut icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
		<link rel="icon" href="{{"images/favicon.png" | relURL}}" type="image/x-icon" />
		<script type="text/javascript" async src="{{"mathjax/MathJax.js?config=TeX-MML-AM_CHTML" | relURL}}"></script>
		<meta charset="utf-8" >
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				  {{ .Content }}
			</div>
		</div>
		<script src="{{"js/highlight.pack.js" | relURL}}"></script>"{{"js/highlight.pack.js" | relURL}}"
		<script>
		  hljs.initHighlightingOnLoad();
	  </script>
		<script src="{{"reveal/js/reveal.js" | relURL}}"></script>
		<script>
			Reveal.initialize({
        controls: false,
        controlsTutorial: false,
        progress: false,
        transition: 'fade',
				width: 1440,
				height: 1080,
				history: true,
      });

			window.addEventListener("mousedown", handleClick, false);
			window.addEventListener("contextmenu", function(e) { e.preventDefault(); }, false);

			function handleClick(e) {
				e.preventDefault();
				if(e.button === 0) Reveal.next();
				if(e.button === 2) Reveal.prev();
			}
		</script>
	</body>
</html>
